<footer class="mt-5 p-4 bg-dark text-white text-center d-flex justify-content-around">
    <div>
        <p>Created by Cos</p>
        <p>🚩 겟인데어</p>
    </div>
    <div>
        <p>🏴 부산 수영구 XX동</p>
        <p>📞 010-2222-7777</p>
    </div>
</footer>

</body>
</html>