{{>layout/header}}

<!--마진 : mt, mr, ml, mb (1~5) ex) mt-5-->
<div class="container mt-2">

    <div class="mt-4 p-5 bg-light text-dark rounded-4">
        <p>{{models.0.accountOwner}}님 계좌</p>
        <p>계좌번호 : {{models.0.accountNumber}}</p>
        <p>계좌잔액 : {{models.0.accountBalance}}원</p>
    </div>

    <div class="mt-3 mb-3">
        <a href="/account/{{models.0.accountNumber}}?type=전체" class="btn btn-outline-primary">전체</a>
        <a href="/account/{{models.0.accountNumber}}?type=입금" class="btn btn-outline-primary">입금</a>
        <a href="/account/{{models.0.accountNumber}}?type=출금" class="btn btn-outline-primary">출금</a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>날짜</th>
            <th>출금계좌</th>
            <th>입금계좌</th>
            <th>금액</th>
            <th>계좌잔액</th>
            <th>출금/입금</th>
        </tr>
        </thead>
        <tbody>
        {{#models}}
            <tr>
                <td>{{createdAt}}</td>
                <td>{{wNumber}}</td>
                <td>{{dNumber}}</td>
                <td>{{amount}}원</td>
                <td>{{balance}}원</td>
                <td>{{type}}</td>
            </tr>
        {{/models}}
        </tbody>
    </table>
</div>

{{>layout/footer}}



