{{>layout/header}}
<!--마진 : mt, mr, ml, mb (1~5) ex) mt-5-->
<div class="container mt-2">
    <div class="mt-4 p-5 bg-light text-dark rounded-4">
        <h1>메타코딩 은행에 오신것을 환영합니다.</h1>
    </div>
</div>
{{>layout/footer}}

